.container-048d117165260bbafdf7273631744c4f__stand {
  /* display: grid !important;
  grid-template-columns: 1fr !important; */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #f0f0f0 !important;
  background-color: #fff !important;
}

.container-048d117165260bbafdf7273631744c4f__bn-container {
  width: 100% !important;
  max-width: 200px !important;
  height: auto !important;
  border-radius: 5px !important;
  padding: 10px !important;
}

.container-048d117165260bbafdf7273631744c4f__title {
  font-size: 10px !important;
  font-weight: bold !important;
  margin-bottom: 5px !important;
}

/* @media (min-width: 768px) {
  .container-048d117165260bbafdf7273631744c4f__stand {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .container-048d117165260bbafdf7273631744c4f__bn-container {
    height: 200px !important;
  }
}
 */
